<!DOCTYPE html>
<html>
<head>
  <script src="js/load.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-1.12.4.js"></script>
  <script src="js/jquery-ui.js"></script>
  <style>
  	* {
		margin: 0;
		font-family:"AppleGothic";
		/*border: 1px solid black;*/
	}
	.start {
		font-family:"AppleGothic";
		text-align: center;
	}
  </style>

</head>

<body>

<div class="start">
</div>

<div>
	<p>have something</p>
</div>
</body>
</html>
