<!DOCTYPE html>
<html>
<head>
  <script src="js/load.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-1.12.4.js"></script>
  <script src="js/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="js/index.css"></link>

</head>

<body>

<div class="start" id="start_sec">

</div>

<div id="bg_div" class="bg">
</div>

<div id="canvas">
</div>

<div class="left" id="left_sec">
</div>
<div class="right" id="right_sec">
</div>
<div class="info" id="battle_info">
</div>
<div class="cha_info" id="cha_info_sec">
</div>

</body>
</html>
