<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="../../js/load.js"></script>
  <script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="../../js/jquery-ui.js"></script>
</head>

<body>

<div class="start">

</div>

</body>
</html>
